<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

<h1 style="margin-left:50%;" >Users</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Network</th>
      <th scope="col">ReleaseDate</th>

      <th scope="col">Action</th>
    </tr>
  </thead>

  <tbody>
            {%for show in shows%}

        <tr>
            <th scope="row">{{show.id}}</th>

            <td>{{ show.title }}</td>
            <td>{{ show.network }}</td>

            <td>{{ show.release_date|date:"M d, Y" }}</td>
            <td>
                <a href="viewShow/{{show.id}}">View</a><span>|</span>
                <a href="../{{show.id}}/goToEdit">Edit</a><span>|</span>
                <a href="viewShow/{{show.id}}/deleteShow">Delete</a></td>


        </tr>
           {%endfor%}

  </tbody>
</table>

<a class="btn btn-primary" href="goToInsert" role="button">InsertNewShow</a>



</center>
</body>
</html>